@tailwind;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
    font-family: "Kumbh sans";
    src: url("../public/fonts/KumbhSans-Regular.ttf");
}

@font-face {
  font-family: "Kumbh sans_bold";
  src: url("../public/fonts/KumbhSans-Bold.ttf");
}

@font-face {
  font-family: "Kumbh sans_extraBold";
  src: url("../public/fonts/KumbhSans-ExtraBold.ttf");
}

@font-face {
  font-family: "Kumbh sans_semiBold";
  src: url("../public/fonts/KumbhSans-SemiBold.ttf");
}

@font-face {
  font-family: "Kumbh sans_medium";
  src: url("../public/fonts/KumbhSans-Medium.ttf");
}

@font-face {
  font-family: "Kumbh sans_thin";
  src: url("../public/fonts/KumbhSans-Thin.ttf");
}

@layer base {
    html{
        font-family: "Kumbh sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
      }
}

@layer components {
  .nav-bg {
    background-image: url('/assets/logos/Triangle Copy 2.svg'), url('/assets/logos/Triangle Copy.svg'), url('/assets/logos/Triangle.svg');
    background-position: bottom left, top center, right 10rem center;
  }
  .switch-main {
    position: relative;
    height: 24px;
    width: 48px;
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 12px;
  }
  
  .mode-switch {
    height: 0;
    width: 0;
    opacity: 0;
    z-index: 9999;
  }
  
  .slider {  
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .4s;
    -webkit-transition: .4s;
    cursor: pointer;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: #5964E0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .mode-switch:checked + .slider:before {
      -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}

@layer utilities {
  .modal-nav-bg {
    background-position: bottom left, top center, top right;
  }
  .hover-transition {
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: .2s;
    transition-duration: .7s;
  }
  .glass {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 25px 45px rgba(0,0,0,0.2);
    /* border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2); */
    backdrop-filter: blur(10px);
    top: 0;
    z-index: -1;
  }

  .gallery-item:nth-child(1) {
    left: 5%;
    opacity: 1;
    transform: translateX(-50%);
    box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.3);
    transform: scale(1,1);
  }

  /* .gallery-item:nth-child(2), .gallery-item:nth-child(4) {
    left: 15%;
    opacity: 0.4;
    transform: translateX(-50%);
  } */

  .gallery-item:nth-child(2) {
    left: 30%;
    opacity: 0.8;
    transform: translateX(-50%);
    transform: scale(0.9,0.9);
  }

  .gallery-item:nth-child(3) {
    box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.3);
    left: 53%;
    opacity: 0.7;
    transform: translateX(-50%);
    transform: scale(0.8,0.8);
  }

  .gallery-item:nth-child(4) {
    left: 73%;
    opacity: 0.6;
    transform: translateX(-50%);
    transform: scale(0.7,0.7);
  }
  @keyframes sliderUpBg {
      0% {
        opacity: 0.3;
        transform: translate(0, 0px);
      }
      100% {
        transform: translate(0, -200px);
        opacity: 0;
      }
  }
  .login-container .icon:nth-child(1) {
    animation: sliderUpBg 10s infinite;
  }
  .login-container .icon:nth-child(2) {
    animation: sliderUpBg 9s infinite;
  }
  .login-container .icon:nth-child(3) {
    animation: sliderUpBg 10s infinite;
  }
  .login-container .icon:nth-child(4) {
    animation: sliderUpBg 7s infinite;
  }
  .login-container .icon:nth-child(5) {
    animation: sliderUpBg 10s infinite;
  }
  .login-container .icon:nth-child(6) {
    animation: sliderUpBg 8s infinite;
  }
  .login-container .icon:nth-child(7) {
    animation: sliderUpBg 9s infinite;
  }
  .login-container .icon:nth-child(8) {
    animation: sliderUpBg 10s infinite;
  }
  .login-container .icon:nth-child(9) {
    animation: sliderUpBg 6s infinite;
  }
  .login-container .icon:nth-child(10) {
    animation: sliderUpBg 11s infinite;
  }
}

